= render 'shared/enter_payment_details'
= render 'shared/create_new_deal'

.row
  .span6
    = render :partial => 'shared/company_profile', :locals => {:company => @company}
    .clear
    = render :partial => 'shared/redeem_voucher' if @company.deals.count > 0
      
  .span6
    %h2=(image_tag "icons/current_deals.png") + "Current & Future Deals"
    = "You don't have any deals setup at the moment" if @current_deals.count == 0
    = render :partial => 'deals/summary', :collection => @current_deals
    = twitter_bootstrap_form_for(Deal.new, :url => '/deals/new', :method => :get) do |f|
      = f.submit "Create a new deal", :class => 'btn btn-large'
    .clear      
    - if @past_deals.count > 0  
      %h2=(image_tag "icons/past_deals.png") + "Past Deals"
      = render :partial => 'deals/summary', :collection => @past_deals
