.row
  .span12
    %h2 Your next payment will be:

    %h3
      =to_ccy(@company.seller_balance)
      on
      =full_date(next_friday)

    %br
  
    %p
      Payments will be  made to you each Friday.
  
    %p
      Here's a summary of your deals and payments.



    %div#chart-container    

    :javascript
      var chart1; // globally available
      $(document).ready(function() {
            chart1 = new Highcharts.Chart({
               chart: {
                  renderTo: 'chart-container',
                  type: 'column'
               },
               title: {
                  text: '',
               },
               xAxis: {
                  categories: [
                  #{periods_to_list(@periods)}
                  ]
               },
               yAxis: {
                  title: {
                     text: 'Revenue £'
                  }
               },
               series: [{
                  name: 'Revenue',
                  data: [#{data_to_list(@periods,@weekly_revenue)}]
               }]
            });
         });                
             
     
.row
  .span4
    %h3 
      %span Past 7 days revenue
      =to_ccy(@company.revenue_after_commission(7.days.ago))
  .span4
    %h3 
      %span 30 day revenue
      =to_ccy(@company.revenue_after_commission(30.days.ago))      
  .span4
    %h3
      %span All time revenue
      =to_ccy(@company.revenue_after_commission)


.row
  .span12
    %h2 Weekly summary
    %p Here is a week by week breakdown of the revenue from your deals after commission.
    %table.table
      - @periods.each do |period|
        %tr
          %td{:colspan => 2} 
            %b #{full_date(period[:start])}
            to 
            %b #{full_date(period[:end])}
          - weekly_revenue = @company.revenue_after_commission(period[:start], period[:end])
          %td
            %b= to_ccy(weekly_revenue, true, false)
        - if weekly_revenue > 0
          - @company.payments.sum(:amount, :group => :deal_id, :conditions => ["status = ? and transaction_date >= ? and transaction_date < ?", :paid, period[:start], period[:end]]).each do |deal_id, amount|
            - deal = Deal.find_by_id(deal_id)
            %tr
              %td
              %td= link_to deal, usage_deal_path(deal)
              %td= to_ccy(amount  * (1 - Company::COMMISSION_PERCENTAGE))            
        
    