.row.signup-form
  .span6
    %h2 Create an account
    %h3 Sign up to get started!  
    .clear
    = twitter_bootstrap_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      = f.fields_for :company do |ff|
        = ff.text_field :name, 'Company name *'
        = ff.text_field :your_name, 'Your name *'
        = ff.text_field :phone, 'Telephone *'
      = f.email_field :email, 'Email*'
      = f.password_field :password, 'Password *'
      = f.password_field :password_confirmation, 'Password confirmation *'
      = f.actions do
        %div= f.submit "Create account", :class => 'btn btn-large success'
        
  .span6
    %h2 Sign in
    %h3 Existing members login here
    .clear
    = twitter_bootstrap_form_for(User.new, :as => resource_name, :url => session_path(resource_name)) do |f|
      = f.text_field :email, 'Email', :id => 'sign_in_user_email'
      = f.password_field :password, 'Password', :id => 'sign_in_user_password'
      - if devise_mapping.rememberable?
        %div
          =f.toggles do
            = f.check_box :remember_me, 'Remember me'
      = f.actions do
        %div= f.submit "Sign in", :class => 'btn btn-large success'
    = render :partial => "devise/shared/links"
    