%div.checkout-sidebar 
  %h3 Payment Options
  
  %p We accept Visa, Mastercard, AmEx and Discover.
  %p= image_tag "cards.png"
  
  %h3 Security
  %p All payments are processed securely using 256-bit encryption encryption, through SagePay.
  %p= render :partial => "shared/site_seal"
  
  %h3 Contacting the Seller
  
  %p The seller contact details can be found at the bottom of the deal page as well as on the voucher.

  %h3 Refunds

  %p For details on refunds please go to section 7 of our #{link_to_dynamic_page('Terms & Conditions', 1, true)}