%h1 
  Checkout: 
  %span #{@deal.title}

%div.deal-summary
  - if @deal.photo
    = image_tag @deal.photo.url(:medium) unless @deal.photo.url.include?("missing.png")
  %div.text
    %b Price #{number_to_currency(@deal.price, :unit => "&pound;")}
    %br
    %i Sold by #{@deal.company.name} 
  %div.clear