= render :partial => "sidebar"

%div.checkout-content
  = render "summary"  
  
  %h3 Step 2 of 2 &gt; Payment Information

  = twitter_bootstrap_form_for @credit_card, :as => :credit_card, :url => SpreedlyCore.add_payment_method_url do |f|
    = hidden_field_tag :redirect_url, confirm_url(params[:payment_id])
    = hidden_field_tag :api_login, SpreedlyCore.api_login
    = hidden_field_tag :payment_method_token, @payment_method_token
    = f.hidden_field 'first_name', :value => @payment.first_name
    = f.hidden_field 'last_name', :value => @payment.last_name
    = f.hidden_field 'address1', :value => @payment.billing_address_line1
    = f.hidden_field 'city',  :value =>  @payment.city
    = f.hidden_field 'zip',  :value => @payment.post_code
    = f.hidden_field 'country', :value =>  @payment.country    
    = f.text_field :number, 'Card number *', :class => :textbox
    = f.text_field :verification_value, 'Verification code *', :class => :textbox, :maxlength => 4
    .clearfix
      #credit_card_number_input
        %label{:for => "credit_card_number"} Expiry date *
        .input
          = select_month(@credit_card.month, :add_month_numbers => true, :prefix => "credit_card", :field_name => :month)
        %label{:for => "credit_card_number"} 
        .input          
          = select_year(@credit_card.year, :start_year => Date.today.year, :end_year => Date.today.year + 10, :prefix => "credit_card", :field_name => :year)
    = f.submit "Buy Deal Now", :class => 'btn btn-large  left-margin'
    
