= render "sidebar"

%div.checkout-content
  %h1 Checkout complete!
  = render "shared/confirm_order_message", :deal => @deal
  %br
  %p= link_to("Close Window", "/", :class => 'btn btn-large close-window') 
  %br