= render :partial => "checkout/sidebar"

%div.checkout-content
  = render "checkout/summary"  
    
  %h3 Step 1 of 2 &gt; Your Details

  %p We'll keep these details between ourselves and the seller. They won't be sold on to third parties or used for promotional purposes.
  = twitter_bootstrap_form_for @payment do |f|
    = f.hidden_field :deal_id, :value => @deal.id
    = f.text_field :first_name, 'First name *'
    = f.text_field :last_name, 'Last name *'     
    = f.text_field :email, 'Email *', :description => "more"
    = f.text_field :email_confirmation, 'Email confirmation *'    
    = f.text_field :billing_address_line1, 'Your address *'
    = f.text_field :city, 'City *'
    = f.text_field :post_code, 'Post code *'
    = f.select :country, 'Country *', @countries, :selected => "GB"   
    = f.submit "Next", :class => 'btn btn-large left-margin'