$('#preview').html('<%= escape_javascript(image_tag @picture.photo.url(:medium)) %> <a href="/deals/new" title="Upload a different picture" id="change_picture">Change picture</a><br /><br />');
$('#deal_photo').val('');
$('#deal_photo').hide();

$('#change_picture').click(function(event) {
  event.preventDefault();
  $('#deal_photo').show();
  $('#deal_photo').effect("highlight", {}, 3000);
  return false;
});

$('#create_a_deal').removeAttr('disabled');