%h1.big How it Works 
%div.how-it-works
  %div.item  
    %div.image
      =image_tag "howitworks/howitworks1.png"
    %div.number 1
    %div.text
      %h1 Create an account
      %br Hit the Get Started button and fill in the 5 boxes
      
      
  %div.item  
    %div.image
      =image_tag "howitworks/howitworks2.png"
    %div.number 2
    %div.text
      %h1 Customise your page
      %br Use the simple tools to make the page look and feel your own. Add logos and a background, then change the colours to brand it yourself.
      
  %div.item  
    %div.image
      =image_tag "howitworks/howitworks3.png"
    %div.number 3
    %div.text
      %h1 Create your first deal!
      %br Within minutes of creating an account you can begin creating your first deal. Fill in the simple form and it will populate a template for you. It even has helpful hints that appear to help you along the way.
          
  %div.item  
    %div.image
      =image_tag "howitworks/howitworks4.png"
    %div.number 4
    %div.text
      %h1 Promote your deal
      %br Unlike most other deal platforms, hitmeup allows you to publish your offer across multiple platforms, such as your Facebook page, Twitter, e.mail and banner adverts on affiliate sites that will draw consumer traffic to you.

  %div.item  
    %div.image
      =image_tag "howitworks/howitworks5.png"
    %div.number 5
    %div.text
      %h1 View deal statistics
      %br Track how the deal went with our analytics tool. Simple to use and easy to download so you can help shape better promotions in the future.  
      

  %div.item.last  
    %div.image
      =image_tag "howitworks/howitworks6.png"
    %div.number 6
    %div.text
      %h1 Get paid!
      %br After the deal the funds are released and we pay you, it's as simple as that, No upfront charge, only a success fee, so there is zero risk.                  
