- error_count = DLog.errors_since(24.hours.ago)
- @owed = Company.with_outstanding_revenue

.row
  .span4
    %h3
      Sellers
      %span > #{link_to("View All", company_index_path)}
    .content
      %b #{pluralize(Company.where("created_at > ?", 7.days.ago).count, " new sellers")} this week
      %p 
        %p Latest signups:
        - Company.order("id desc").limit(5).each do |co|
          #{link_to co.name, company_path(co)} (#{friendly_time(co.created_at)}),


  .span4
    %h3
      Deal stats
      %span > #{link_to("View All", deals_path)}
    .content
      - @owed = Company.with_outstanding_revenue
      - if @owed.count == 0
        %b No sellers are due payments
      - else
        %p
          Active
          %b=Deal.active_count
        %p
          Future
          %b= Deal.future_count
        %p
          Past
          %b= Deal.past_count

                                          

  .span4
    %h3
      Action Required
    .content
      - if error_count > 0
        %p= link_to("Investigate #{pluralize(error_count, ' error')}",  admin_logs_path(:only_errors => "yes"))
      - if @owed.count > 0
        %p= link_to("Pay #{pluralize(@owed.count, ' seller')}",  company_index_path(:only_with_outstanding => "yes"))
      %p= link_to 'Analytics', admin_analytics_path
      %p Accurate at #{Time.now} 
    


.row    
  .span4
    %h3
      Revenue Owed   
      %span > #{link_to "Pay Sellers", company_index_path(:only_with_outstanding => "yes")}
    .content
      - if @owed.count == 0
        %b No sellers are due payments
      - else
        %b #{pluralize(@owed.count, " sellers")} are owed payments:
        %p
          = @owed[0..5].to_sentence
          - if @owed.count > 5
            ="..."
 
      
  .span4
    %h3
      Payments      
      %span > #{link_to "All Payments", admin_payments_path}
    .content
      %p 
        Pending
        %b= Payment.pending_count
    
      %p 
        All time payments
        %b= to_ccy(Payment.all_since )
      %p 
        Past 7 days
        %b= to_ccy(Payment.all_since(7.days.ago))
      
  .span4
    %h3
      Users 
      %span > #{link_to "View All", admin_users_path}
    .content
      %b #{pluralize(User.where("current_sign_in_at > ?", 7.days.ago).count, " users")} signed in this week
      %p 
        %p Latest sign ins:
        - User.order("current_sign_in_at desc").limit(5).each do |user|
          #{user.email} at #{link_to user.company.name, company_path(user.company)} #{friendly_time(user.current_sign_in_at)}, 
            
      
.row      
  .span4
    %h3
      Logs  
      %span > #{link_to "All Logs", admin_logs_path}
    .content
      - if error_count > 0
        %b=link_to("#{pluralize(error_count, ' error')} in past 24 hours",admin_logs_path(:only_errors => "yes")) 
        - if (last_error = DLog.last_error)
          %p Last error at #{friendly_time(last_error.created_at, 3.weeks.ago, false)}
      - else
        No recent errors
      

  .span4
    %h3
      Pages & Posts
      %span > #{link_to "View All", pages_path}
    .content
      %p Recently edited:
      - Page.order("updated_at desc").limit(5).each do |page|
        %br
          = #link_to(page, page_path(page))
          = friendly_time(page.updated_at)

  .span4
    %h3 
      System Status
    .content
      %br= link_to "Delayed job", '/delayed_job_admin'
      %br= link_to "Bluepill", admin_monitor_index_path