%br
%br
%b Hitmeup Ltd   |   6 Standard Pace   |   London  |   EC2A 3BE

%br
%br
%b 0207 193 8858
%br
%b=link_to("support@hitmeup.co", "mailto:support@hitmeup.co")
%br
%b=link_to("hitmeup.co", "http://hitmeup.co")