!!!
%html
  %body
    = link_to image_tag("http://#{APP_CONFIG['SITE']}/assets/hmu_logo_small.png"), root_path
    %h1
      A new deal has been created by #{link_to(@deal.company, company_url(@deal.company))}: 
    %h2= link_to(@deal.title, deal_url(@deal))

    
    = render "footer"