!!!
%html
  %body
    = link_to image_tag("http://#{APP_CONFIG['SITE']}/assets/hmu_logo_small.png"), root_path
    %h1
      Your New Deal: 
      = @deal.title

    %p Your deal will go live in #{friendly_time(@deal.start_time)}. 
    
    %p The next step is to #{link_to("publish your deal!", publish_deal_url(@deal))}
    
    = render "footer"    