!!!
%html
  %body
    = link_to image_tag("http://#{APP_CONFIG['SITE']}/assets/hmu_logo_small.png"), root_path
    %h1
      Failed payment for 
      = @deal.title
  
    %p Your payment (ID ##{@payment.id}) has failed.
  
    %p We're afraid that if the deal has ended, you will no longer be able to purchase a voucher.

    %p If you think this is a mistake, please contact us using the details below.

    %p Thank you,

    %p The Hitmeup Team

    = render "footer"