!!!
%html
  %body
    = link_to image_tag("http://#{APP_CONFIG['SITE']}/assets/hmu_logo_small.png"), root_path
    %h1
      Shame -  
      = @deal.title
      never tipped
  
    %p Not enough people bought #{@deal.title} and the deal has now ended.
  
    %p You haven't been charged. Sorry, hopefully you'll have better luck next time.

    %p Thank you,

    %p The Hitmeup Team

    = render "footer"