!!!
%html
  %body
    %h1 A new user has signed up
    
    %p Name: #{@company.your_name}
    %p Email: #{@user.email}
    %p Company Name: #{@company.name}
    %p Phone: #{@company.phone}
    %p More info: #{link_to(@company.name, company_url(@company))}