!!!
%html
  %body
    = link_to image_tag("http://#{APP_CONFIG['SITE']}/assets/hmu_logo_small.png"), root_url
    %h1
      Order Confirmation for 
      %i= @deal.title
      
    %h2 Note: This is not a voucher.
    
    = render :partial => "shared/confirm_order_message"  , :locals => {:deal => @deal}
  
    = render "footer"    