!!!
%html
  %body
    = link_to image_tag("http://#{APP_CONFIG['SITE']}/assets/hmu_logo_small.png"), root_path
    %h1
      Not yet tipped: 
      = @deal.title
  

  
    %p This deal still hasn't tipped. It needs #{pluralize(@deal.purchases_required_to_tip, "more person")} to buy it before it tips. 
    
    %p You can help the deal tip by telling your friends and getting them to buy it as well!
    
    %p You have not been charged yet but will be if the required numbers are reached. A voucher for the deal will then be sent.

    %p Thank you,

    %p The Hitmeup Team

    = render "footer"    