<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
code<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Facebook sharing information tags -->
        <meta property="og:title" content="Your Voucher">
        
        <title>Your Voucher</title>
		
	</head>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="-webkit-text-size-adjust: none;margin: 0;padding: 0;background-color: #FAFAFA;width: 100%;">
    	<center>
        	<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable" style="margin: 0;padding: 0;height: 100%;width: 100%;">
            	<tr>
                	<td align="center" valign="top">
                        <table border="0" cellpadding="10" cellspacing="0" width="600" id="templatePreheader" style="background-color: #FAFAFA;">
                            <tr>
                                <td valign="top" class="preheaderContent">
                                
                                    <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                    	<tr>
                                        	<td valign="top">
                                            	<div style="color: #505050;font-family: Arial;font-size: 10px;line-height: 100%;text-align: left;">
                                                	This is your voucher for <strong><%= @deal.title %></strong>
                                                </div>
                                            </td>
                                            <td valign="top" width="180">
                                            	<div mc:edit="std_preheader_links" style="color: #505050;font-family: Arial;font-size: 10px;line-height: 100%;text-align: left;">
                                                	Is this email not displaying correctly?<br><a href="VOUCHER LINK GOES HERE" target="_blank" style="color: #00808f;font-weight: normal;text-decoration: underline;">View it in your browser</a>.
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                
                                </td>
                            </tr>
                        </table>
                    	<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer" style="border: 1px solid #DDDDDD;background-color: #FDFDFD;">
                        	<tr>
                            	<td align="center" valign="top">
                                	<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader" style="background-color: #FFFFFF;border-bottom: 0;">
                                        <tr>
                                            <td class="headerContent" style="color: #202020;font-family: Arial;font-size: 34px;font-weight: bold;line-height: 100%;padding: 0;text-align: center;vertical-align: middle;">
                                            
                                            	<img src="/assets/email_heading.png" style="max-width: 600px;border: none;font-size: 14px;font-weight: bold;height: auto;line-height: 100%;outline: none;text-decoration: none;text-transform: capitalize;" id="headerImage campaign-icon">
                                            
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        	<tr>
                            	<td align="center" valign="top">
                                	<table border="0" cellpadding="10" cellspacing="0" width="600" id="templateBody">
                                    	<tr>
                                            <td valign="top" class="bodyContent" style="background-color: #FDFDFD;">
                                              <div style="color: #333333;font-family: Arial;font-size: 12px;line-height: 150%;text-align: left;">
                                                <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td valign="top">
                                                            <div style="color: #333333;font-family: Arial;font-size: 12px;line-height: 150%;text-align: left;">
                                                                <span class="h1" style="color: #00545e;display: block;font-family: Arial;font-size: 34px;font-weight: bold;line-height: 100%;margin-bottom: 5px;text-align: left;letter-spacing: -2px;">Your Voucher</span>
                                                            </div>
														                              </td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="top" id="dealimage" width="200px">
                                                          <div style="color: #333333;font-family: Arial;font-size: 12px;line-height: 150%;text-align: left;border: 1px solid #00808f;padding: 3px;">
                      <%= image_tag @deal.photo.url(:medium), style: "max-width: 200px;border: none;font-size: 14px;font-weight: bold;height: auto;line-height: 100%;outline: none;text-decoration: none;text-transform: capitalize;display: inline;margin-bottom: 0px;" %>
                                                          </div>
                                                        </td>
                                                        <td valign="top">
                                                            <div style="color: #333333;font-family: Arial;font-size: 12px;line-height: 150%;text-align: left;">
                   <span class="h2" style="color: #333333;display: block;font-family: Arial;font-size: 16px;line-height: 100%;margin-bottom: 10px;text-align: left;"><strong>Deal purchased:</strong> </span>
                   <span class="h2" style="color: #333333;display: block;font-family: Arial;font-size: 16px;line-height: 100%;margin-bottom: 10px;text-align: left;"><%= @deal.title %></span>
                                                                <br>
                                                                <span class="price" style="font-size: 24px;font-weight: bold;"><%= number_to_currency(@deal.price, :unit => "&pound;") %></span> 
                         <br>
                         (RRP <%= number_to_currency(@deal.rrp, :unit => "&pound;") %>)
                                                                <br>
                                                            </div>
														                              </td>
                                                    </tr>
                                                    <tr>
                                                          <td valign="top" class="hmucode" colspan="2">
                                                            <div style="color: #333333;font-family: Arial;font-size: 18px;line-height: 150%;text-align: center;background-color: #FAFAFA;border: 1px dotted #00545e;padding-top: 5px;padding-bottom: 5px;">
                                                                <strong>HitMeUp Code:</strong> <span class="lightgreen" style="color: #00808f;"><%= @voucher_code.code %></span>
                                                                <br>
                        <%- if @deal.expiry_time.present? %>
                          <span id="expirydate" style="font-size: 12px;"><strong>Voucher expiry date:</strong>
                            <%=l @deal.expiry_time, :format => :long %></span>
                        <% end %>
                                                            </div>
                                                          </td>
                                                    </tr>
                                                    <tr>
                                                          <td valign="top" colspan="2">
                                                            <div style="color: #333333;font-family: Arial;font-size: 12px;line-height: 150%;text-align: left;">
                                                                <span class="h3" style="color: #333333;display: block;font-family: Arial;font-size: 22px;font-weight: bold;line-height: 100%;margin-bottom: 10px;text-align: left;">How to redeem</span>
    <%= @deal.how_to_redeem %>
  </div>
</td>
                                                    </tr>
                                                    <tr>
                                                          <td valign="top" colspan="2">
                                                            <div style="color: #333333;font-family: Arial;font-size: 12px;line-height: 150%;text-align: left;">
                                                                <span class="h3" style="color: #333333;display: block;font-family: Arial;font-size: 22px;font-weight: bold;line-height: 100%;margin-bottom: 10px;text-align: left;">Terms & Conditions</span>
  <%= @deal.small_print %>
                                                            </div>
                                                          </td>
                                                    </tr>
                                                    <tr>
                                                          <td valign="top" colspan="2">
                                                            <div style="color: #333333;font-family: Arial;font-size: 12px;line-height: 150%;text-align: left;">
                                                                <span class="h3" style="color: #333333;display: block;font-family: Arial;font-size: 22px;font-weight: bold;line-height: 100%;margin-bottom: 10px;text-align: left;">About the seller</span>
                                    <strong>Name: </strong><%= @deal.company.name %><br>
                                    <strong>Address: </strong><%= @company.address %>
                                    <br>
                                    <%- if @company.website.present? %>
                                      <strong>Website: </strong>
                                      <%= link_to @company.website, @company.website, :target => '_parent', style: "color: #00808f;font-weight: normal;text-decoration: underline;" %>
                                    <% end %>
                                                                <br>
                                                            </div>
                                                          </td>
                                                    </tr>
                                                </table>
                                               </div> 
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        	<tr>
                            	<td align="center" valign="top">
                                	<table border="0" cellpadding="10" cellspacing="0" width="600" id="templateFooter" style="background-color: #FDFDFD;border-top: 0;">
                                    	<tr>
                                        	<td valign="top" class="footerContent">
                                            
                                                <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td colspan="2" valign="middle" id="social" style="background-color: #FAFAFA;border: 1px solid #F5F5F5;">
 <div style="color: #707070;font-family: Arial;font-size: 12px;line-height: 125%;text-align: center;">
   <%- if @deal.company.twitter.present? %>
    &nbsp;<a href="https://twitter.com/<%= @deal.company.twitter %>" 
      style="color: #00808f;font-weight:   normal;text-decoration: underline;">Follow HitMeUp on Twitter</a>
  <% end %>
  <%- if @deal.company.facebook.present? %>
    | <a href="http://www.facebook.com/<%= @deal.company.facebook %>" 
    style="color: #00808f;font-weight: normal;text-decoration: underline;">like HitMeUp on Facebook</a>&nbsp;
  <% end %>
</div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="top" width="560" id="copyright">
                                                            <br>
                                                            <div style="color: #707070;font-family: Arial;font-size: 12px;line-height: 125%;text-align: center;">
                                                                <em>Copyright &copy; 2012 HitMeUp Ltd. All rights reserved.</em>
                                                            </div>
                                                            <br>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2" valign="middle" id="utility" style="background-color: #ffffff;border-top: 1px dotted #00545e;">
                                                            <div style="color: #707070;font-family: Arial;font-size: 12px;line-height: 125%;text-align: center;">
                                                                &nbsp;<a href="http://hitmeup.co" style="color: #00808f;font-weight: normal;text-decoration: underline;">www.hitmeup.co</a>&nbsp;
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <br>
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>













<!DOCTYPE html>
<html lang="en" style="font-size: 100%;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;">
<head>
  <meta charset="utf-8">
  <title>Your Voucher</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Le styles -->
  

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body style="background: #e7e7e7;margin: 0;font-family: helvetica, &quot;helvetica neue&quot;, arial, sans-serif;font-size: 13px;line-height: 18px;color: #151515;background-color: #fff;"> 

  <div class="container" style="width: 940px;margin-right: auto;margin-left: auto;*zoom: 1;padding: 15px 0px;">
    <div class="row" id="page-header" style="margin-left: -20px;*zoom: 1;padding: 5px 0px;clear: both;padding-bottom: 14px;margin-bottom: 30px;border-bottom: 1px solid #e7e7e7;height: 55px;">
      <div class="span8 offset2" style="background: #fff;width: 620px;margin-left: 180px;padding: 5px 0px;">
        <div class="row" style="height: 80px;margin-left: -20px;*zoom: 1;padding: 5px 0px;">
          <%= link_to image_tag("http://#{APP_CONFIG['SITE']}/assets/hmu_logo.png"), root_url %>
        </div>

        <div class="row" style="background: #fff;border: 1px solid #e7e7e7;margin-left: -20px;*zoom: 1;padding: 5px 0px;">
          <div class="span6 offset1" style="width: 460px;margin-left: 100px;padding: 5px 0px;">
      
            <div class="row" style="margin-left: -20px;*zoom: 1;padding: 5px 0px;">
              <h1 style="color: #930310;font-size: 36px;margin: 0;font-family: inherit;font-weight: bold;text-rendering: optimizelegibility;line-height: 50px;">Voucher <%= @tipped %></h1>
            </div>
                      
            <div class="row" style="margin-left: -20px;*zoom: 1;padding: 5px 0px;">  
              <div class="span3" style="width: 220px;">
                <p style="margin: 0 0 9px;font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;font-size: 13px;line-height: 18px;"><%= image_tag @deal.photo.url(:medium) %></p>
              </div>
              <div class="span3" style="width: 220px;">
                <h2 style="color: #999999;text-transform: uppercase;font-weight: normal;margin: 0;font-family: inherit;text-rendering: optimizelegibility;font-size: 24px;line-height: 36px;"><%= @deal.company.name %></h2>
                <h3 style="font-size: 18px;font-weight: normal;margin: 0;font-family: inherit;color: inherit;text-rendering: optimizelegibility;line-height: 27px;"><%= @deal.title %></h3>
                <h1 style="font-size: 30px;margin: 0;font-family: inherit;font-weight: bold;color: inherit;text-rendering: optimizelegibility;line-height: 50px;"><%= number_to_currency(@deal.price, :unit => "&pound;") %></h1>
                <h4 style="font-size: 14px;font-weight: normal;font-style: italic;margin: 0;font-family: inherit;color: inherit;text-rendering: optimizelegibility;line-height: 18px;">RRP <%= number_to_currency(@deal.rrp, :unit => "&pound;") %></h4>
              </div>
            </div> 

            <div class="row" style="margin-left: -20px;*zoom: 1;padding: 5px 0px;">
              <h1 style="margin: 0;font-family: inherit;font-weight: bold;color: inherit;text-rendering: optimizelegibility;font-size: 30px;line-height: 50px;">HitMeUp code: <span style="color: #930310;font-weight: normal;letter-spacing: -1px;"><%= @voucher_code.code %></span></h1>
            </div>
            
            <%- if @deal.expiry_time.present? %>
              <div class="row" style="margin-left: -20px;*zoom: 1;padding: 5px 0px;">
                <h3 style="margin: 0;font-family: inherit;font-weight: bold;color: inherit;text-rendering: optimizelegibility;font-size: 18px;line-height: 27px;">Voucher expiry date: <span style="font-weight: normal;"><%=l @deal.expiry_time, :format => :long %><span style="font-weight: normal;"></span></span></h3>
              </div>
            <% end %>
    
            <div class="row" style="margin-left: -20px;*zoom: 1;padding: 5px 0px;">
              <h3 style="margin: 0;font-family: inherit;font-weight: bold;color: inherit;text-rendering: optimizelegibility;font-size: 18px;line-height: 27px;">Company Profile: <span style="font-weight: normal;"><%= @company.name %><span style="font-weight: normal;"></span></span></h3>

              <p style="margin: 0 0 9px;font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;font-size: 13px;line-height: 18px;"><%= @company.description %></p>

              <p style="margin: 0 0 9px;font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;font-size: 13px;line-height: 18px;"><strong style="font-weight: bold;">Tel: </strong><%= @company.phone %>,
              <strong style="font-weight: bold;">Email: </strong><%= @company.user.email %></p>
              <%- if @company.website.present? %>
                <p style="margin: 0 0 9px;font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;font-size: 13px;line-height: 18px;"><strong style="font-weight: bold;">Website: </strong>
                  <%= link_to @company.website, @company.website, :target => '_parent' %>
                </p> 
              <% end %> 
              <p style="margin: 0 0 9px;font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;font-size: 13px;line-height: 18px;"><strong style="font-weight: bold;">Address: </strong>
                <%= @company.address %>
              </p>              
            </div>

            <div class="row" style="margin-left: -20px;*zoom: 1;padding: 5px 0px;">
              <h3 style="margin: 0;font-family: inherit;font-weight: bold;color: inherit;text-rendering: optimizelegibility;font-size: 18px;line-height: 27px;">Terms &amp; Conditions</h3>

              <p style="margin: 0 0 9px;font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;font-size: 13px;line-height: 18px;"><%= @deal.small_print %></p>
            </div> 
            
            <div class="row" style="background: #fff;margin-left: -20px;*zoom: 1;padding: 5px 0px;">
                <h3 style="margin: 0;font-family: inherit;font-weight: bold;color: inherit;text-rendering: optimizelegibility;font-size: 18px;line-height: 27px;">How to redeem:</h3>

                <p style="margin: 0 0 9px;font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;font-size: 13px;line-height: 18px;"><%= @deal.how_to_redeem %></p>
            </div>
            
            <div class="row" style="background: #fff;margin-left: -20px;*zoom: 1;padding: 5px 0px;">
                <h3 style="margin: 0;font-family: inherit;font-weight: bold;color: inherit;text-rendering: optimizelegibility;font-size: 18px;line-height: 27px;">Help &amp; Support</h3>

                <p style="margin: 0 0 9px;font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;font-size: 13px;line-height: 18px;">
                  If you have any questions email us at
                  <%= link_to "support@hitmeup.co", "mailto:support@hitmeup.co" %>
                  or call +44 (0) 207 193 8858 
                </p>
            </div>
            
            <div class="row" style="background: #fff;margin-left: -20px;*zoom: 1;padding: 5px 0px;">
              <div class="span4" style="width: 300px;padding: 5px 0px;">
                HitMeUp Ltd. 2012
              </div>
              <div class="span4" id="hmu-url" style="width: 300px;padding: 5px 0px;">
                <a href="http://www.hitmeup.co" title="HitMeUp" style="color: #930310;text-decoration: none;">http://www.hitmeup.co</a>
              </div>
            </div>
          </div>
        </div>        
      
      
    </div>     <!-- /first row -->
     
  </div> <!-- /container -->


