= render 'shared/complete_design'

= twitter_bootstrap_form_for(@company) do |f|
  .row
    .span6
      %h2 Images
      %h3 Header logo:
      = f.file_field :deal_logo, 'Upload a picture'
      = image_tag @company.deal_logo.url(:medium) if @company.deal_logo.present?
      %span.help-block
        This is the logo that will appear at the top of you deal pages. This should ideally be on a white background and be landscape in shape. (Max file upload is 3MB).
      %h3 Background image:
      = f.check_box :tile_background, 'Tile background'
      = f.file_field :background, 'Upload a picture'
      = image_tag @company.background.url(:medium) if @company.background.present?
      %span.help-block
        This is the large background image that will appear on your deal pages.  It’s your opportunity to really stamp your brand on the deal. You could use the same image as your Twitter page background, for instance.  (Max file upload is 3MB).
      %h2 Font colours
      %h3 Choose a colour for the links:
      = f.text_field :font_colour, '#', :class => 'small'
      %span.help-block
        Click on the colour to change it to match your brand.  
        
    .span6
      %h2 Sample deal page...
      %p 
        An example HitMeUp deal page for Urban Junkies complete with company logo,
        background image, and pink text for links.
      = image_tag 'example_design.png'  
          
  .row
    .span12
      = f.actions do
        = f.submit "Save Changes", :class => 'btn btn-large '
        %div.helper Saving large images may take up to a minute.