%h2 Forgot your password?
%h3 Send me reset password instructions
= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
  = devise_error_messages!
  = f.text_field :email
  %div= f.submit "Send instructions", :class => 'btn large success'
= render :partial => "devise/shared/links"
