- if notice.present?
  .alert.fade-out.alert-success
    = notice
    - flash[:notice] = notice = nil
  
- if alert.present?  
  .alert.fade-out.alert-error
    = alert
    - flash[:alert] = alert = nil
    
- if flash[:info].present?
  .alert.alert-info
    =raw '<button class="close" data-dismiss="alert">×</button>'
    = flash[:info]
    - flash[:info] = nil