- if @company.confirmation_state == "not_completed"
  .alert.alert-info
    %button{:class => "close", "data-dismiss" => "alert"}×
    %h4.alert-heading Enter your profile details
    %p Fill in some more information about your company to get started.