%h2 Company Profile
.row-fluid
  .span6.centralise
    - if company.has_logo?
      =render_company_logo(company)
    - elsif current_user && company == current_user.company
      %br
      =link_to("Upload your logo", profile_path(company))
  .span6
    %h3= company.name
    =company.description
.clear
.row-fluid
  .span1=image_tag "icons/website.png", :class => "attribute-icon" 
  .span8=external_link(company.website, company.website, 40, (current_user && current_user.company == company ? "Add your website" : nil), profile_path(company))
.row-fluid
  .span1=image_tag "icons/facebook.png" , :class => "attribute-icon"
  .span8=external_link(company.facebook, "Facebook Page", 40, (current_user && current_user.company == company ? "Add your facebook page" : nil), profile_path(company))
.row-fluid
  .span1= image_tag "icons/twitter.png" , :class => "attribute-icon"
  .span8=external_link(company.twitter, "#{company.twitter}", 40, (current_user && current_user.company == company ? "Add your twitter page" : nil), profile_path(company), true)
.row-fluid
  .span12 
    %b Address:
    = company.address