- if @company.confirmation_state == "profile_completed"
  .alert.alert-info
    %button{:class => "close", "data-dismiss" => "alert"}×
    %h4.alert-heading Now customise how your deals appear
    %p Make your deals match your company branding by adding your logo and company colours here.