%p
  %b Thank you for your purchase. 

- if !deal.has_tipping_point? || deal.tipped?
  %p 
    %b Your voucher is on its way.
- else
  %p 
    %b This deal has not yet tipped.
  %p 
    %b If the deals tips before it ends #{time_in_future(deal.end_time)}, 
    you will be charged and you will receive another email with your voucher.
  %p 
    %b If the deal does not tip, 
    your payment will cancelled and you will not be charged. 

%p Let your friends know about this deal:

.post-checkout-share= render 'deals/social_links', :deal => deal

%p Thank you for using Hitmeup. 

%h3 Some FAQs...

%h4 What's tipping?

%p Some deals require a minimum number of buyers before the deal is available. This minimum number is called the Tipping Point. Your payment is only processed if enough people buy the deal.


%h4 Can I contact the seller?

%p Of course! You will find their contact details at the bottom left of the deal page or on the voucher.

%h4 What if I want a refund?

%p Provided that you have not used the voucher, refunds are automatically available within the first 7 days via Hitmeup. Please contact support@hitmeup for details. After 7 days or if your purchase was not up to standard you will have to take it up with the Seller but you will still be subject to their terms and conditions. 

%h4 This is not the voucher! 

%p If you have any enquires please call our Support team on 0207 193 8858

%p When contacting us, please mention your payment reference: #{@payment.id}

%p Thanks again for using Hitmeup