- if @company.confirmation_state == "design_completed" && !@company.has_deals?
  .alert.alert-info
    %button{:class => "close", "data-dismiss" => "alert"}×
    %h4.alert-heading Now create a deal!
    %p 
      Click
      = link_to "Create a deal", new_deal_path
      to get started.