- if @company.has_deals? && !@company.bank_details_present?
  .alert.alert-info
    %button{:class => "close", "data-dismiss" => "alert"}×
    %h4.alert-heading We want to pay you
    %p Hi - you have deals set up but we don't have your bank details yet, we need these to pay you.
    #{link_to("Add your payment details", settings_path, :class => "btn btn-info")}.