.page-menu
  - if current_user
    - if false
      %ul.nav.nav-pills
        =raw tab_menu_option('My Account', "#") 
        =raw tab_menu_option('My Deals', my_deals_deals_path)
        =raw tab_menu_option('My Dashboard', dashboard_path)
    .option.last{:id => 'my-account'}= link_to("My Account", '#')
    .option= link_to("My Deals", my_deals_deals_path)
    .option= link_to("My Dashboard", dashboard_path)
  - else 
    = render :partial => 'shared/sign_in' 
    .option.last= link_to("Get Started!", user_session_url)
    .option= link_to("Blog", blog_path)
    .option=link_to_dynamic_page('Contact', 3)
    .option=link_to_dynamic_page('FAQ', 5)
    .option=link_to_dynamic_page('How it works', 4)
    
%div{:class => "drop", :id => 'down-menu'}
  %ul
    %li= link_to "Revenue", revenue_path
    %li= link_to "Profile", profile_path
    %li= link_to "Design", design_path
    %li.last= link_to "Settings", settings_path