%title=page_title(@deal, @company, @page)
= stylesheet_link_tag    "application"
= javascript_include_tag "application"
- if @page_has_map  
  = javascript_include_tag "http://maps.google.com/maps?file=api&v=2&key=#{APP_CONFIG['GMAP_KEY']}"
= csrf_meta_tag