%br
%h2 Redeem a Voucher
%p When your deal has concluded and a customer contacts you to redeem their voucher, you can verify it is valid by entering the voucher code here and then mark it as used:
= form_tag("/vouchers/redeem") do
  .field.voucher-redeem-form
    = label :voucher, :code
    = text_field :voucher,  :code
    = submit_tag 'Redeem', :class => 'btn large success'