<% full_path_for_front = "http://#{request.host+request.fullpath}" %>
<div class="post-sharing">
  <div class="share-item">
  <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= full_path_for_front %>" data-via="hitmeup_co" data-lang="en">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>

  <div class="share-item">
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=147783025329881";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  </div>

  <div class="share-item">
  <div class="fb-like" data-href="<%= full_path_for_front %>" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false"></div>
  </div>
</div>