%div.front-page
  =image_tag "front/hmu_front.png"

%div.lower-banner
  %div.sign-up-button
    =link_to(image_tag("front/sign_up.png"), user_session_url) 
  %div.text
    %div.home-big-text 
      Whip up a storm via a flash sale. Shift stock and generate publicity.
    Ahead of a full launch this summer try our platfrom for free. Give us feedback: tell us what you want and we will build it.
