.row
  .span2
    = image_tag deal.photo.url(:medium), :class => :medium
  .span7
    %h3.red= link_to(deal.title, facebook_deal_path(deal))
    %p 
      = image_tag 'clock.png', :class => 'icon'
      - if deal.active?
        Deal expires in #{distance_of_time_in_words(Time.now, deal.end_time)}
      - elsif deal.ended?
        Ended
      - else
        Deal starts in  #{distance_of_time_in_words(Time.now, deal.start_time)}
    %h3= number_to_currency(deal.price, :unit => "&pound;")
    %p= link_to "View deal details >", facebook_deal_path(deal)
  .span2
    - if deal.available?
      = link_to "Buy now", buy_path(deal.id), :class => 'btn medium success', :target => '_blank'
%hr.deal-partial-separator

