.row
  .span8  
    .two-columns
    
      %h2= @title

      %p= @problem_message

      - if @company && (@past_deals = Deal.past(@company))
        %p Here are some previous deals from this seller...
        - @past_deals.each do |d|
          %br=link_to d, facebook_deal_path(d)

      %br
      %br
      %p= link_to "Click here to get back to HitMeUp", "http://#{APP_CONFIG['SITE']}/", :target => "_blank"