$(document).ready(function() {
<%- if @result == 'ok' %>
  $("#post_deal_to_wall").click(function () {
    $(this).effect("highlight", {}, 3000);
  });
  $("#post_deal_to_wall_link").text("Post this deal to your wall (posted <%= pluralize(@deal.posted_times, 'time') %>)");
<% end %>
});