.row
  .span6
    %h2 Business Details
    %p Please enter you bank account details here. We will use this account to pay you.

    = twitter_bootstrap_form_for(@setting, :remote => true) do |f|
      = f.text_field :bank_name, 'Bank name'
      = f.text_field :branch, 'Branch'
      = f.text_field :sort_code, 'Sort code'
      = f.text_field :account_number, 'Account number'
      = f.actions do
        = f.submit "Save Changes", :class => 'btn large success'  
        
  .span6
    %h2 Change your password
    = twitter_bootstrap_form_for(current_user, :as => :user, :url => change_password_settings_path(current_user), :method => :put, :remote => true) do |f|
      = f.password_field :password
      = f.password_field :password_confirmation
      = f.actions do
        = f.submit "Change your password", :class => 'btn large success'
    
    %h2 Change your company name
    = twitter_bootstrap_form_for(current_user.company) do |f|
      = f.text_field :name
      = f.actions do
        = f.submit "Change your name", :class => 'btn large success'