- if @deal
  = render :partial => "deals/admin", :locals => {:deal => @deal}
  - if @payments.count == 0
    %h2 No purchases currently  
  - else
  %h2
    = pluralize(@deal.payments_authenticated.count, 'purchase')  
    >
    %span 
      #{@deal.payments_authorised.count} authorised
      - if @deal.failed_payments.count > 0
        (#{@deal.failed_payments.count} failed)
      - if @deal.payments_pending.count > 0
        (#{@deal.payments_pending.count} pending)    

= paginate @payments
  
%table.table
  %tr
    %th ID
    %th Deal
    %th Activity
    %th Amount
    %th Status
    %th Email
    %th Emails Sent
    %th Name
    %th Voucher Assigned
    %th Voucher Status
    %th Refund

  - @payments.each do |p| 
    %tr
      %td= p.id
      %td= link_to(p.deal.id, deal_path(p.deal))
      %td
        = "Trans date: #{friendly_time(p.transaction_date)}"
        = "Created: #{friendly_time(p.created_at)}"
        = "Updated: #{friendly_time(p.updated_at)}"
      %td= to_ccy(p.amount)
      %td= p.status
      %td= p.email
      %td
        = "Order conf: #{friendly_time(p.order_confirmation_sent)}" if p.order_confirmation_sent
        = "Not tipped: #{friendly_time(p.not_tipped_sent)}" if p.not_tipped_sent
        = "Voucher: #{friendly_time(p.voucher_sent)}" if p.voucher_sent
        = "Payment failed: #{friendly_time(p.payment_failed_sent)}" if p.payment_failed_sent
        = "Refund sent: #{friendly_time(p.refunded_sent)}" if p.refunded_sent
      %td= p.name
      %td= p.voucher_code ? p.voucher_code.code : "No"
      %td= p.voucher_code.status if p.voucher_code
      %td=raw button_link("Refund", refund_admin_payment_path(p)) if p.refund_available?
