%p Are you sure you want to refund this payment of #{to_ccy(@payment.amount)} to #{@payment.name} (#{@payment.email})?

= twitter_bootstrap_form_for(@payment, :url => refund_admin_payment_path(@payment), :method => :post) do |f|
  = f.submit "Confirm refund to #{@payment.email}", :class => 'btn btn-warning btn-large', :confirm => "Are you sure?"
