= form_for @page do |f|
  -if @page.errors.any?
    #error_explanation
      %h2= "#{pluralize(@page.errors.count, "error")} prohibited this page from being saved:"
      %ul
        - @page.errors.full_messages.each do |msg|
          %li= msg
  .clearfix
    =f.label :Section
    .input
      =f.collection_select(:section_id, Section.all, :id, :to_s, :prompt => true)
  .clearfix
    = f.label :title
    .input
      = f.text_field :title
  .clearfix
    = f.label :summary
    .input
      = f.text_field :summary
  .clearfix
    = f.label :body
    .input
      = raw f.text_area :body
  .clearfix
    = f.label :published
    .input
      = f.check_box :published
  .form-actions
    = f.submit 'Save'