%h1 Listing pages

%table.table
  %tr
    %th Title
    %th Published
    %th Section
    %th Updated
    %th
    %th
    %th

  - @pages.each do |page|
    %tr
      %td= link_to page.title, page
      %td= page.published ? "Yes" : "No"
      %td
        = page.section
        =select_tag "section", options_from_collection_for_select(Section.all, "id", "name"), :prompt => "Change section", class: 'change-section', id: page.id
      %td= friendly_time(page.updated_at)
      %td= publish_page(page)
      %td= link_to "Edit Content", "/editor" + request.path + "/#{page.id}", data: {save_url: mercury_update_page_path(page)}
      %td= link_to 'Delete', page, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Page', new_page_path
