%h1.no-margin
  #page_title{:class => "mercury-region", "data-type" => "editable"}= @page.title
.intro
  #page_summary{:class => "mercury-region", "data-type" => "editable"}
    = raw @page.summary
#page_content{:class => "mercury-region", "data-type" => "editable"}
  = raw @page.body

- if current_user.try(:admin?)
  %hr/
  %p= link_to "Edit Content", "/editor" + request.path, id: "edit_link", data: {save_url: mercury_update_page_path(@page)}
  %p= link_to 'List of all pages', pages_path