%h1 Whoops!

%p We encountered a problem, sorry. 

%p Email us at #{link_to(APP_CONFIG['SUPPORT_EMAIL'], "mailto:#{APP_CONFIG['SUPPORT_EMAIL']}")} and we'll take a look, please quote code #{DLog.last_error.id}

%p