%p=link_to "< Back to dashboard", admin_dashboard_index_path

- if @only_errors_and_warnings
  %p= link_to "Show all", admin_logs_path
- else
  %p= link_to "Show warnings and errors only", admin_logs_path(:only_warnings_and_errors => "yes")
  %p= link_to "Show errors only", admin_logs_path(:only_errors => "yes")

%p
  = form_tag '/admin/logs', method: 'get'
  = text_field_tag :search, params[:search]
  = submit_tag :search, class: 'btn btn-success'
  = link_to "Reset", admin_logs_path, class: 'btn'

= paginate @logs unless params[:search].present?

%table.table
  %tr
    %th Time
    %th Level
    %th Deal
    %th User
    %th Payment
    %th 
  - @logs.each do |log|
    %tr
      %td= log.when
      %td= log.level
      %td= link_to log.deal.id, deal_path(log.deal) if log.deal
      %td= log.user.id if log.user
      %td= (log.deal ? link_to(log.payment.id, payments_deal_path(log.deal)) : log.payment.id) if log.payment
      %td
        = truncate(log.to_s, :length => 200)
        = link_to("View", admin_log_path(log))
