%p=link_to "< Back to all logs", admin_logs_path


%p
  Time:
  %b= @log.when

%p
  Level:
  %b= @log.level  

- if @log.payment
  %p
    Payment:
    %b= (@log.deal ? link_to(@log.payment.id, payments_deal_path(@log.deal)) : @log.payment.id) if @log.payment

- if @log.deal  
  %p
    Deal:
    %b= link_to @log.deal.id, deal_path(@log.deal) if @log.deal

- if @log.user
  %p
    User:
    %b= @log.user.id if @log.user 
    
- if @log.url
  %p
    URL:
    %b= @log.url
        
- if @log.ip
  %p
    IP:
    %b= @log.ip  

%p 
  %b Log message:
    
%p= @log.message

