- if !@deal.description.blank?
  %h2.with-icon.about About the deal
  = raw format_text(@deal.description)
  %br
  %br
  
- if !@deal.how_to_redeem.blank?
  %h3 How to redeem
  = raw format_text(@deal.how_to_redeem)
  %br
  %br