- if current_user && current_user.can_edit_deal?(deal) && params[:action] != 'iframe'
  .row   
    .span12
      %ul.nav.nav-tabs
        =raw tab_menu_option('View', deal_path(deal)) 
        =raw tab_menu_option('Edit', edit_deal_path(deal)) if current_user.admin? || deal.is_editable?
        =raw tab_menu_option('Analytics', usage_deal_path(deal))
        =raw tab_menu_option('Vouchers', vouchers_deal_path(deal))
        =raw tab_menu_option('Publish', publish_deal_path(deal)) if !deal.ended? 
        =raw tab_menu_option('Payments', payments_deal_path(deal)) if current_user.admin? 
        =raw tab_menu_option('Logs', log_deal_path(deal)) if current_user.admin?                                                                                 
                                                                                