%table.table
  %tr
    %th Company
    %th= sortable "id", "ID"
    %th= sortable "title"
    %th= sortable "start_time"
    %th= sortable "end_time"
    %th State
    %th Vouchers
    %th Remaining Vouchers    
    %th Authenticated Payments 
    %th Payments Pending
    %th Authorised Payments
    %th Revenue
    %th
  - if @deals.count == 0
    %th{:colspan => 12} No matching deals

  - @deals.each do |deal|
    %tr
      %td= link_to deal.company.name, company_path(deal.company)
      %td= deal.id
      %td= link_to(deal.title, deal_path(deal))
      %td= friendly_time(deal.start_time)
      %td= friendly_time(deal.end_time)
      %td= deal.status
      %td= deal.quantity
      %td= deal.remaining
      %td= deal.payments_authenticated.count
      %td= deal.payments_pending.count
      %td= deal.payments_authorised.count
      %td= to_ccy(deal.revenue)
      %td
        = link_to 'Show', deal 
        = link_to 'Edit', edit_deal_path(deal)
        = link_to 'Payments', payments_deal_path(deal)
        = link_to 'Log', log_deal_path(deal)