.deal-is-on
  .left-image-box= image_tag (@deal.available? ? 'available.png' : 'unavailable.png'), :id => 'available-icon'
  .right-content-box
    - if @deal.all_vouchers_purchased?
      Sorry, too late! All vouchers purchased.
    - elsif @deal.ended?
      This deal has ended
    - elsif !@deal.started?
      This deal hasn't started yet
    - elsif @deal.has_tipping_point? && !@deal.tipped?
      %strong This deal hasn't tipped yet.
      #{pluralize(@deal.purchases_required_to_tip, "more person")} must buy a voucher for the deal to tip.
    - else 
      %strong This deal is on!
      There #{(@deal.remaining == 1 ? "is" : "are")} #{pluralize(@deal.remaining, "voucher")} remaining.