- if @deal.available?
  = link_to((image_tag "banner_buy_button.png", :alt => "Buy"), buy_path(@deal), :class => "image-button pop-up-checkout")
  
%h1= number_to_currency(@deal.price, :unit => "&pound;")

%h3 
  %strong #{@deal.discount}% discount
  %span (RRP #{number_to_currency(@deal.rrp, :unit => "&pound;")})

= render :partial => '/deals/available'

= render :partial => '/deals/clock'