- if !@deal.ended? && !@deal.all_vouchers_purchased?
  .deal-time
    %b= @deal.started? ? "Time remaining on this deal..." : "Time until deal starts..."
  
  .timer.clearfix
    .left-image-box= image_tag 'clock.png'
    .right-clock-box
      .timer-numbers
        .row.values
          %span.days
            = @deal.due_days
          %span.hours
            = with_zero @deal.due_hours
          %span{:class => 'minutes left-timer-border'}
            = with_zero @deal.due_minutes
          %span{:class => 'seconds left-timer-border'}
            = with_zero @deal.due_seconds
      .timer-labels
        .row
          %span.days-label
            Days
          %span.hours-label
            Hours
          %span.minutes-label
            Minutes
          %span.seconds-label
            Seconds