%p We recommend that you include a Google map on the deal page to show where consumers will experience your product or service. Less relevant if this deal is not geographically limited.

.form-stacked
  = f.toggles do
    = f.check_box :show_map, 'Show google map on deal page?', :tabindex => 12
  = f.text_field :post_code, 'Post code', 'data-content' => "The map is automatically refreshed when you change the post code. You can drag the marker to point set a location more accurately.", 'data-placement' => "left", 'data-original-title' => 'Post code', :tabindex => 13
  = f.text_field :street, 'Street', 'data-content' => "Write the number and street name. This is needed for a more precise geocoding of the address on Google Maps", 'data-placement' => "left", 'data-original-title' => 'Number and street name.', :tabindex => 14
