.form-stacked
  .row
    .span3
    
      = f.text_field :price, 'Deal price *:', :class => "medium #{('disable' if @deal.started?)} ccy",  'data-placement' => "left", 'data-original-title' => 'Deal price (required field)', :tabindex => 5 
      .help 
        The price people will pay for the deal.
              
      = f.text_field :quantity, 'Maximum sales *:', :class => "medium ", 'data-placement' => "left", 'data-original-title' => 'Maximum sales (required field)', :tabindex => 7
      .help 
        This is the maximum number of products, vouchers or tickets that you wish to sell on this deal. Remember that you can always run additional deals whenever you want.
              
      = f.text_field :start_time, 'Start date / time: *', :class => "medium #{('disable' if @deal.started?)}", 'data-placement' => "left", 'data-original-title' => 'Start date / time (required field)', :tabindex => 9     
      .help 
        This is the date and time you want the deal to go live. Once published your deal will be visible, with a counter to the start point, but sales will not be accepted.
              
    .span3
      = f.text_field :rrp, 'RRP (i.e. Usual price)*', :class => "medium ccy",  'data-placement' => "right", 'data-original-title' => 'RRP (required field)', :tabindex => 6  
      .help 
        This is your normal selling price (incl. VAT where appropriate), which will be used to calculate the deal saving.
              
      = f.text_field :min_quantity, 'Minimum sales *:', :class => "medium", 'data-placement' => "right", 'data-original-title' => 'Minimum sales (required field)', :tabindex => 8
      .help 
        This is the minimum number of sales you want to accept for the deal to go ahead. Unless this figure is achieved, customers will not be debited and the deal will close with no transactions.
              
      = f.text_field :end_time, 'End date / time: *', :class => 'span3',  'data-placement' => "right", 'data-original-title' => 'End date / time (required field)', :tabindex => 10
      .help 
        This is the cut-off for the deal. The counter will countdown to this point, after which point the deal will close.”
              
      = f.text_field :expiry_time, 'Voucher expiry date:', :class => 'span3', :tabindex => 11      
      .help 
        After this date, vouchers will not be valid.