.span6
  .form-stacked
    = f.hidden_field :link_code
    = f.text_field :title, 'Title / Headline:*', :class => 'xlarge', 'data-placement' => "right", 'data-original-title' => 'Title / Headline (required field)', :tabindex => 1
    .help This should be a snappy one line summary that captures the deal. E.g. <i>Two Course Italian meal for two with wine, London W1 – Supercar Experience, Silverstone</i>

    
    = f.file_field :photo, "Deal picture: *", 'data-placement' => "right", 'data-original-title' => 'Deal picture (required field)'
    .help This is the picture that will appear alongside your deal. (Max file upload is 5MB).
    #preview
      preview
    
    = f.text_area :description, 'Description *', :rows => 8,  :tabindex => 2
    .help This is where you outline your sales pitch in detail. Be sure to give all relevant details including what’s on offer, the venue and points of note to describe and sell your product or service e.g. <i>Award-winning restaurant, Top-10 destination as voted on TripAdvisor!</i>
    
    = f.text_area :how_to_redeem, 'How to Redeem *', :class => 'xlarge', :rows => 8, :tabindex => 3
    .help Describe how customers should contact you to redeem their voucher. Should they phone you, email or just turn-up? Should they present a printed copy, or just quote the code number? Do they need to put a voucher code into your check-out?
    
    
    = f.text_area :small_print, 'Small print *', :class => 'xlarge', :rows => 8, 'data-placement' => "right", 'data-original-title' => 'Small print (required field)', :tabindex => 4
    .help Make sure you include all rules and restrictions that you wish to apply, including things like voucher expiry date, whether the voucher applies only to certain days or times, geographic limitations, delivery times, etc. <i>Check our FAQ page for suggestions.</i>
  %br


