- unless @deal.publish_on_facebook?
  = link_to "Post this deal to the wall of your account (posted #{pluralize(@deal.posted_times, 'time')})", post_deal_to_wall_path(@deal), :remote => true, :format => :js, :id => 'post_deal_to_wall_link'
- else
  This deal has been published on our Facebook app:
  = link_to "https://apps.facebook.com/#{APP_CONFIG['FB_APP']}/", "https://apps.facebook.com/#{APP_CONFIG['FB_APP']}/", :target => '_blank'