<%- if @deal.show_map? && @deal.latitude && @deal.longitude %>
  <h2 class="with-icon map">Location</h2>
  <% if !@deal.street.blank? && !@deal.post_code.blank? %>
    <p><b>Address:</b> <%= @deal.street %>, <%= @deal.post_code.upcase %></p>
  <% end %>
  <p><a href="http://maps.google.com/maps?q=<%= @deal.street %>,+<%= @deal.post_code %>,+UK&z=17" target="_blank" class="non-bold">Open in Google Maps</a> </p>
  
  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=420x300&sensor=false&zoom=16&markers=#{@deal.latitude}%2C#{@deal.longitude}" %>
  
<% end %>
