.row
  .span2
    = image_tag summary.photo.url(:medium), :class => :medium if summary.photo
  .span4
    %h3.red= link_to summary.title, deal_path(summary)
    %p 
      = image_tag 'clock.png', :class => 'icon'
      - if summary.active?
        - if !summary.started?
          Deal starts in #{distance_of_time_in_words(Time.now, summary.start_time)}
        - else
          Deal expires in #{distance_of_time_in_words(Time.now, summary.end_time)}, #{pluralize(summary.payments_authenticated.count, "purchase")}
      - elsif summary.ended?
        Ended #{friendly_time(summary.end_time)}, #{pluralize(summary.payments_authenticated.count, "purchase")}
      - else
        Deal starts in  #{distance_of_time_in_words(Time.now, summary.start_time)}
    
      .btn-group.dropdown
        =raw button_link('View', deal_path(summary))
        - if summary.is_editable?
          =raw button_link('Edit', edit_deal_path(summary)) 
        =raw button_link('Analytics', usage_deal_path(summary))
        - if summary.started?
          =raw button_link('Vouchers', vouchers_deal_path(summary))        
        - if !summary.ended?
          =raw button_link('Publish', publish_deal_path(summary))
                                                                           
%hr.deal-partial-separator
