.banner
  .section
    .deal-photo
      = image_tag @deal.photo.url(:medium), :width => 92
  
    %h3=@deal.title
    .clear
    
  .section
    %h3=to_ccy(@deal.price)
    
    .left-image-box= image_tag ('small_clock.png')
    - if @deal.all_vouchers_purchased?
      Too late! All vouchers purchased.
    - elsif @deal.ended?
      Sorry! This deal has ended.
    - elsif !@deal.started?
      This deal hasn't started yet
    - else 
      %strong This deal is on!
      There are #{pluralize(@deal.remaining, "voucher")} remaining.

  .section.no-border
    .buy-button
      = link_to((image_tag "banner_buy_button.png", :alt => "Buy"), deal_path(@deal), :target => "_parent")

  .powered-by-hitmeup Deals powered by