= render :partial => "admin", :locals => {:deal => @deal}

= twitter_bootstrap_form_for @deal do |f|
  .row
    .span6
      %h2 1. About the deal
      = render :partial => 'form1', :locals => {:f => f}
    .span6
      %h2 2. Pricing
      = render :partial => 'form2', :locals => {:f => f}
      %h2 3. Your Location
      = render :partial => 'form3', :locals => {:f => f}
  .row
    .span12
      = f.actions do
        = f.submit 'Change Deal', :class => 'btn btn-large'
        %div.helper Saving may take up to 30 seconds when large images are attached.
        