.facebook-header
  = image_tag @deal.photo.url(:large), :height => 150 unless @deal.photo.url.include?("missing.png")
  %h2=@deal.title 
        
.row
  .span6.panel  
    - if @deal.available?
      = link_to((image_tag "banner_buy_button.png", :alt => "Buy"), buy_path(@deal),:class => "pop-up-checkout buy-button") 
    %h1= number_to_currency(@deal.price, :unit => "&pound;")

    %h3 
      A discount of #{@deal.discount}% 
      %span (RRP #{number_to_currency(@deal.rrp, :unit => "&pound;")})

    = render :partial => '/deals/available'
  
    = render :partial => '/deals/clock'
                                         
            
.row
  .span6.panel
    = render :partial => '/deals/about'

- if @deal.show_map? && @deal.latitude && @deal.longitude
  .row      
    .span6.panel
      = render :partial => '/deals/static_location'      
                                                          
.row
  .span6.panel 
    = render :partial => '/shared/company_profile', :locals => {:company => @company}

.row
  .span6.panel
  
    %h2.with-icon.terms Terms &amp; Conditions
    = @deal.small_print
                           
%div.powered-by.facebook
  %div.text=link_to("deal powered by", "http://#{APP_CONFIG["SITE"]}", :target => "_blank")
  =link_to(image_tag('hmu_small_monochrome.png'), "http://#{APP_CONFIG["SITE"]}", :target => "_blank" )
                                   