= form_tag deals_path, :method => 'get' do
  %p 
    = text_field_tag :search, params[:search] 
    = submit_tag "Search", :name => nil    

= render 'admin_deals_table'

%br

= link_to 'New Deal', new_deal_path
