= render :partial => "admin", :locals => {:deal => @deal}


- if @only_errors_and_warnings
  %p= link_to "Show all", admin_logs_path
- else
  %p= link_to "Show warnings and errors only", log_deal_path(@deal, :only_warnings_and_errors => "yes")

= paginate @logs

%table
  %tr
    %th Time
    %th Level
    %th User
    %th Payment
    %th 
  - @logs.each do |log|
    %tr
      %td= log.when
      %td= log.level
      %td= log.user.id if log.user
      %td= (log.deal ? link_to(log.payment.id, payments_deal_path(log.deal)) : log.payment.id) if log.payment
      %td= log.message