= twitter_bootstrap_form_for @deal do |f|
  .row
    .span6
      %h2 1. About the deal
      = render :partial => 'form1', :locals => {:f => f}
    .span6
      %h2 2. Pricing
      = render :partial => 'form2', :locals => {:f => f}
      %h2 3. Your Location
      = render :partial => 'form3', :locals => {:f => f}
  .row
    .span12
      = f.actions do
        = f.submit 'Create Deal', :class => 'btn btn-large btn-success', :id => 'create_a_deal', :disabled => true
        %div.helper Saving may take up to 30 seconds. By creating a deal you agree to our seller #{link_to_dynamic_page('Terms & Conditions', 1, true)}.