= render :partial => "admin", :locals => {:deal => @deal}

.row
  .span12
    %div.publish-deal
      %div.item  
        %div.image
          = image_tag "deal/publish_deal4.png"
        %div.number 1
        %div.text
          %h1 Publish to your facebook page
          %br This is the default and simplest of the pulishing options.  Your fully branded deal page is published at the web address below. Simply link to this page from your website, an email, or anywhere else you’d like to promote the deal.
          %hr
          - unless session[:facebook]
            %p= link_to 'Login with Facebook', facebook_login_url(@deal.id)
          - else
            %p{:id => 'post_deal_to_wall'}
              = link_to "Post this deal to the wall of your account (posted #{pluralize(@deal.posted_times, 'time')})", post_deal_to_wall_path(@deal), :remote => true, :format => :js, :id => 'post_deal_to_wall_link' if false
        
            - if @fb_page
              %p
                Your latest deal is published on your page:
                = link_to @fb_page['name'], "#{@fb_page['link']}?sk=app_#{APP_CONFIG['FBAPPID']}", :target => '_blank', :class => "pop-up-facebook"
            - else 
              %p= link_to "Add the Hitmeup Facebook App to one of your pages", "http://www.facebook.com/dialog/pagetab?app_id=#{APP_CONFIG['FBAPPID']}&next=http%3A%2F%2F#{request.host_with_port}%2Ftabapp_confirm", :target => '_blank', :class => "pop-up-facebook and-remove" 


    %div.publish-deal
      %div.item  
        %div.image
          = image_tag "deal/publish_deal1.png"
        %div.number 2
        %div.text
          %h1 Your deal page on HitMeUp
          %br This is the default and simplest of the pulishing options.  Your fully branded deal page is published at the web address below. Simply link to this page from your website, an email, or anywhere else you’d like to promote the deal.

          %br 
          Your deal page link:
          = link_to "http://#{APP_CONFIG['SITE']}/deals/#{params[:id]}", "http://#{APP_CONFIG['SITE']}/deals/#{params[:id]}", :target => '_blank'
      
    %div.publish-deal
      %div.item  
        %div.image
          = image_tag "deal/publish_deal2.png"
        %div.number 3
        %div.text
          %h1 Embed full deal page on your website
          %p This publishing option allows you to embed a full page deal onto your website.  The benefit of this approach is that the deal will appear in the familiar setting of your website, reassuring customers that it is a genuine deal.  

          %p Just copy and paste the below code into a blank page on your website and you’re done!
      
          .iframe-code.well
            &lt;iframe src="http://#{APP_CONFIG['SITE']}/deals/#{@deal.id}/iframe" width="100%" height="600px"  scrolling="auto" frameBorder="0"&gt;&lt;/iframe&gt;  
      
          %br
          .alert.alert-info The full deal page is 940 pixels wide, so if the area in which you’re going to embed the deal is smaller than this, scroll bars will appear around the edges of the deal. 
      
    %div.publish-deal
      %div.item  
        %div.image
          = image_tag "deal/publish_deal3.png", :width => 280
        %div.number 4
        %div.text
          %h1 Create a banner advert for your deal
          %p This is the default and simplest of the pulishing options.  Your fully branded deal page is published at the web address below. Simply link to this page from your website, an email, or anywhere else you’d like to promote the deal.
          .iframe-code.well
            &lt;iframe src="http://#{APP_CONFIG['SITE']}/deals/#{@deal.id}/banner" width="350" height="300" frameBorder="0"&gt;&lt;/iframe&gt;
      
                  