- if @show_custom_seller_header
  - if @company.has_deal_logo? && !@iframe 
    .row.border
      .span6   
        =render_deal_logo(@company)
      .span6  
        %div.powered-by.right
          %div.text deal powered by
          = link_to (image_tag 'hitmeup_small_grey.png'), 'http://hitmeup.co'
  - if @company.font_colour
    %style(type="text/css")
      a {color: #{@company.font_colour} !important;}
  - if @company.has_background?
    %style(type="text/css")
      body {background: url('#{@company.background.url(:original)}') #{@company.tile_background ? 'repeat' : 'no-repeat'} !important;}
      
= render :partial => "deals/admin", :locals => {:deal => @deal}
        
.row 
  .span6      
    .extra-spacing
      %h1.with-border= @deal.title    
      = render :partial => '/deals/buy'  
  .span6
    = render :partial => '/deals/deal_photo'
    .clear
    = render :partial => '/deals/social_links', :locals => {:deal => @deal}    
    %h3 Share this Deal:

.row
  .span6.with-right-divider 
    .extra-spacing
      = render :partial => '/deals/about'   
      .clear 
      = render :partial => '/deals/static_location'     
    
  .span6
    .extra-spacing
      = render :partial => '/shared/company_profile', :locals => {:company => @company}     
      .clear
      %h2.with-icon.terms Terms &amp; Conditions
      =raw format_text(@deal.small_print)
      %div.powered-by
        = link_to(image_tag('deal_powered_by.png'), "http://#{APP_CONFIG['SITE']}")      
      
           