= render :partial => "admin", :locals => {:deal => @deal}
  
.row
  .span12
    
  %div#chart-container    

  :javascript
    var chart1; // globally available
    $(document).ready(function() {
          chart1 = new Highcharts.Chart({
             chart: {
                renderTo: 'chart-container',
                type: 'column'
             },
             title: {
                text: '',
             },
             xAxis: {
                categories: [
                #{periods_to_list(@periods)}
                ]
             },
             yAxis: {
                title: {
                   text: 'Revenue £'
                }
             },
             series: [{
                name: 'Revenue',
                data: [#{data_to_list(@periods,@data)}]
             }]
          });
       });
          
     
.row
  .span4
    %h3 
      %span Revenue today
      =to_ccy(@deal.revenue_after_commission(Date.today))
  .span4
    %h3 
      %span 7 day deal revenue
      =to_ccy(@deal.revenue_after_commission(7.days.ago))      
  .span4
    %h3
      %span All time deal revenue
      =to_ccy(@deal.revenue_after_commission)
      
.row
  .span6
    = link_to "View your overall account revenue here", revenue_path
  .span6
    = link_to "Publish your deal!", publish_deal_path(@deal) if !@deal.ended?