= render :partial => "admin", :locals => {:deal => @deal}
- if @vouchers.count > 0 
  = render :partial => 'shared/redeem_voucher'    
  %br
  %br  
  %h2 Vouchers Purchased So Far
  %p The following vouchers have been purchased.
  %p=link_to 'Export to Excel', url_for(:format => 'xls')
  %br
  %table.table
    %tr
      %th Purchased by
      %th
      %th When
      %th Redeemed

    - @vouchers.each do |voucher|
      %tr{:class => (voucher.redeemed ? 'redeemed' : '')}
        %td #{voucher.payment.name}
        %td #{voucher.payment.email}
        %td= friendly_time(voucher.payment.created_at)
        %td= voucher.redeemed ? "Yes" : "No"

- else 
  - if @deal.active?
    %p No vouchers have been purchased yet for this deal.
    %p Once they have been, this page will allow you to view them and redeem them when the buyer presents a voucher.
    %p You might want to publish your deal to a new source if you haven't already.
    =raw button_link('Publish this deal', publish_deal_path(@deal))
  - else
    %p No voucher were purchased for this deal.