%p=link_to "< Back to dashboard", admin_dashboard_index_path

- if params[:only_with_outstanding]
  %p
    =link_to "Show all companies", company_index_path
    %p
      %b
        Total companies we owe:  
        = @companies.count  
- else
  %p
    =link_to "Show only companies we owe", company_index_path(:only_with_outstanding => "yes")    
  
  %p
    %b
      Total companies:  
      = Company.count  
      
  = paginate @companies
  

%table.table
  %tr
    %th{:colspan => 2} 
    %th{:colspan => 4} Deals
    %th{:colspan => 1} Purchases
    %th{:colspan => 9} Seller Revenue  
  %tr
    %th Name
    %th Contact
    %th Past
    %th Present
    %th Future
    %th Total
    %th All
    %th Paid
    %th Total Fees     
    %th Balance 
    %th Bank details present?
    %th Settle Fees
  - @companies.each do |company|
    %tr
      %td= link_to company.name, company_path(company)                      
      %td= email_link(company)
      %td.right= Deal.past(company).count
      %td.right= Deal.current(company).count
      %td.right= Deal.future(company).count
      %td.right= company.payments.count
      %td.right= to_ccy(company.total_revenue, true)
      %td.right= link_to(to_ccy(company.revenue_paid, true), seller_payments_company_path(company))
      %td.right= to_ccy(company.total_fees, true)
      %td.right
        %strong= to_ccy(company.seller_balance, true)
      %td.right= company.bank_details_present? ? "Yes" : "No"
      %td.right
        - if company.seller_balance < 0
          Warning! Negative balance!
        - if company.seller_balance > 0
          - if company.bank_details_present?
            =raw button_link("Settle", settle_company_path(company, :amount => company.seller_balance))
          - else
            = "Bank details required"
