%p=link_to "< Back to sellers", company_index_path

%table.table
  %tr
    %th ID
    %th Amount
    %th Bank Name
    %th Branch
    %th Sort Code
    %th Account Number
    %th Made by
    %th When

  - @payments.each do |p| 
    %tr
      %td= p.id
      %td= to_ccy(p.amount)
      %td= p.bank_name
      %td= p.branch
      %td= p.sort_code
      %td= p.account_number
      %td= p.user.email
      %td= friendly_time(p.created_at)
