%h1 
  Pay 
  %span > #{@company.name}
  
%h2 You need to pay #{to_ccy(@amount, true)} to:

%table.table
  %tr
    %td Payee   
    %td=  @company
  %tr
    %td Bank name   
    %td=  @company.setting.bank_name
  %tr
    %td Branch     
    %td=  @company.setting.branch
  %tr
    %td Sort code        
    %td=  @company.setting.sort_code
  %tr
    %td Account number        
    %td=  @company.setting.account_number

= twitter_bootstrap_form_for(@seller_payment, :url => settle_company_path(@company, :amount => @amount, :bank_name => @company.setting.bank_name, :branch => @company.setting.branch, :sort_code => @company.setting.sort_code, :account_number => @company.setting.account_number), :method => :post) do |f|
  = f.submit "Confirm payment to #{@company.name}", :class => 'btn btn-warning btn-large', :confirm => "Are you sure?"