.row
  .span6
    %br Website: #{@company.website}
    %br Facebook: #{@company.facebook }
    %br Twitter: #{ @company.twitter}
    %br=link_to "Masquerade as this company", masquerade_company_path(@company)
    %br     
  .span6
    %br Phone: #{@company.phone}
    %br Facebook: #{@company.address }
    %br User: #{ @company.your_name}
    %br User email: #{ @user.email}
    %br Last Sign in: #{ friendly_time(@user.current_sign_in_at)}
    %br 
    %br    

%h2 Deals  

= render 'deals/admin_deals_table'