%h1 Analytics

%div.stats-bar
  %div.metric
    %div.title Revenue
    %div.amount= to_ccy(Payment.all_since)
    %div.description Total revenue
  %div.metric
    %div.title 30 day Revenue
    %div.amount= to_ccy(Payment.all_since(30.days.ago))
    %div.description Total revenue, past 30 days    
    

%div#chart-container    

:javascript
  var chart1; // globally available
  $(document).ready(function() {
        chart1 = new Highcharts.Chart({
           chart: {
              renderTo: 'chart-container',
              type: 'column'
           },
           title: {
              text: '',
           },
           xAxis: {
              categories: [
              #{periods_to_list(@periods)}
              ]
           },
           yAxis: {
              title: {
                 text: 'Revenue £'
              }
           },
           series: [{
              name: 'Revenue',
              data: [#{data_to_list(@periods,@data)}]
           }]
        });
     });