.blog-post
  .span2.no-margin
    .post-date= full_date(post.created_at)
  .span6
    %h2= link_to(post.title, blog_post_path(post))
    %p= post.summary.present? ? post.summary.html_safe : ""
    %p= post.body ? post.body.html_safe : ""
    = render "share", :post => post
