@import "colours.css.less";

.timer-labels {
  font-size: 12px;
}

.timer-numbers {
  font-size: 28px;
}


.timer {  
  height: 80px;
  .left-image-box {
    width:60px;     
    margin-top: 12px;
  }   
  .row {
    width: 100% !important;
    visibility: hidden;  
    padding: 0px;
    &.values {
      font-weight: bold;
    }
  }
  span {  

    float: left;
    width: 54px;
    text-align: center;  
    border-left: 1px dotted @dark-grey;  
    display: block; /*--For inline elements only--*/
    &.days, &.days-label {
      border-left: 1px solid @white;
      margin-right: 0px;
    } 
    &.hours, &.hours-label {
      border-left: 1px solid @white;
    }
  }
}



.timer-numbers {
  font-size: 30px;
  line-height: 1.2;
}




.left-timer-border {

}