@import "colours.css.less";

body.facebook {
  background: #eceff5;
  .facebook-header {
    height: 40px;
    img {
      float: left;
      border: 5px solid @white;
      margin-bottom: 15px;
      margin-right: 20px
    }
  }
  
  .buy-button img {
    padding-bottom: 8px;
  }
  

  .container { 
    width: 500px !important;
    color: #393938;
    background: none;   
    .row {
      width: 100%;
      margin: 0px !important;   
    }
    .panel {    
      margin-left: 0px !important;
      width: 100%;
      background: @white;
      margin-bottom: 20px;
      padding: 15px 20px ;
      border: 1px solid @light-grey;
    }
  }
  
}
