@import "colours.css.less";

form .help-block {
  color: @medium-grey;
  font-size: 12px;
  text-align: left;
  float: none;
  margin-bottom: 25px;
  margin-right: 50px;
}

.error {
  input, textarea {
    border: 1px solid @light-red;
  }
  .help-inline {
    color: @light-red;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px; } }


form {
  .clearfix {
    margin-bottom: 5px;
  }
  label {
    float: left;
    width: 150px;
  }
  .actions {
    clear: both;
    height: 40px;
    .btn {
      float: left;
      margin-right: 25px    
    }
    .helper {
      float: left;
      font-size: 12px;
      margin-top: 12px;
    }
  }
}   

input.left-margin {
  margin-left: 150px;
}



.voucher-redeem-form label {
  clear: both;
  text-align: left;
}
.voucher-redeem-form label, .voucher-redeem-form  input {
  clear: both;      
  display: block;
}


#credit_card_verification_value {
  width: 70px;
}

#credit_card_month {
  margin-bottom: 10px;
}



a.btn.success {
  color: #fff !important;
}

.inputs-list {
  margin-left: 0px;
  li {
    list-style: none; 
    float: left;
  }
} 

label {
  span, input {
    float: left;  
  }
  span {
    padding-left: 5px;
  }

}

input.ccy {
  padding-left: 30px;
	background: url("img/sterling_symbol.png") no-repeat 10px 7px ;  
	width: 180px;
}