@import "colours.css.less";

.available-icon {
  float: left;
}

.icon {
  width: 12px;
  height: 12px;
}


.two-columns-right img#company_logo_medium {
padding: 15px 0px 20px 0px;
}

.centralise {
  vertical-align: middle;
  display: table-cell;
  text-align: center;
}

img {
  .medium {
    width: 110px;
  }
  
  &.think-border {
    padding: 9px;
    border: 1px solid @light-grey;
    margin-bottom: 5px
  }
  
}