@import "colours.css.less";


.row {
  padding: 5px 0px;

}

.with-right-divider { 
	background: url("img/reddotforline.png") repeat-y top right ;
}

.extra-spacing {
  padding: 0px 35px 0px 0px;
}

.span8, .span6, .span4 {
padding: 5px 0px;
}

#header.guest {
  width: 100%;
  background-color: @dark-red;
  height: 4px;
  color: white;
}

#header.logged-in {
  width: 100%;
  background-color: @dark-grey;
  height: 34px;
  color: @white;   
  font-style: italic; 
  text-align: right;
  
  .container {
    padding: 5px;
  }
  .text, .logo, .sagepay-header {
    float: right;
  }
  .text {
    padding-top: 4px;
  }
  .logo {
    margin-left: 5px;
  }
  span  {
    font-style: normal;
    font-weight: normal;
  }
  a {
    color: @white !important;     
    font-weight: normal !important;
  }
} 

#page-header {
  .sagepay-header {
    float: right;
  }
}




#footer {
  clear: both;  
  border-top: 1px solid @light-grey;  
  padding-top: 15px;
  margin-top: 35px;   
  height: 130px;
  .half.left a {
    font-weight: bold;
    margin-right: 20px; 
  }
  .half {
    width:50%;
    float: left;
  }
  .half.right {
    text-align: left;
    color: @medium-grey;
    font-size: 13px;
    .copy {
      text-align: right;
    }
  }
  div#siteseal {
  padding-top: 15px;
  }
  .half.right a {
    font-weight: normal;
    margin-right: 0px; 
  }
}



.clear {
  clear: both; 
  height: 15px;
}




.share-item {
  float: left;
  width: 130px;
}

.deal-is-on {
  padding: 10px 0px 18px;
  height: 50px;
  margin: 20px 0px;
  border-top: 1px solid @light-grey;
  border-bottom: 1px solid @light-grey;
  
  
}

.powered-by {
  margin-top: 30px;  
  a:link, a, a:visited {
    color: @medium-grey !important;    
    font-weight: normal;
  }

  &.left {
    background: yellow;
  }
  &.right {
    text-align: left;
    margin-left: 155px;   
    margin-top: 0px;
    height: 45px;
  }
  .text, img {
    float: left;
    margin-left: 10px;
  }
  .text {
    padding-top: 10px;
  } 
  &.facebook {
    padding-left: 50px;
    height: 70px;
  }
}

.container {
  padding: 15px 0px;  

  &.checkout {
    width: 750px !important;
  }
}

#page-container {
  background: @white;  
}

#custom-page-container {
  background: @white;  
  padding: 0px 40px;
}

.row.border {
  border-bottom: 1px solid @light-grey;
}

.single-column {
  width: 480px;
  background: white;
  
}

.single-column #footer a {
  font-weight: normal;
}

.single-column #footer  .half {
  width: 200px;
  margin: 20px;
}

.single-column .powered-by {
  margin-left: 50px;
}


form#new_deal {
  margin-top: 15px;
  margin-bottom: 50px;
}

.row.with-padding {
  padding-bottom: 20px;
}   
.row.with-border {
  border-top: 1px solid @light-grey;  
  margin-top: 20px;
}


.checkout-sidebar {
  float: right;
  padding-bottom: 80px;
  width: 250px;
  
}

.checkout-content {
float: left;
width: 420px;
}

.deal-summary {
  height: 100px     ;
  clear: both;
  img {
    float: left;
    margin-right: 15px;
  }
  .text {
    float: left;      
    width: 200px;
  }
}



tr.redeemed td {
 color: @light-grey;
}

td.right {
text-align: right;
}

.large-notice {
  margin: 10px 0px 20px 0px;
  padding: 10px;
  border: 1px solid @dark-grey;
}


.iframe-code {
  border: 1px solid @grey;
  padding: 4px;
}


.two-columns {
  padding: 20px;  
  margin: 0px;  
}

.two-columns.left {
  margin-right: 20px;
}

.two-columns.right {
  border-left: 1px dotted @dark-red;
}



.sharing {
  float: right;
  width: 260px;
  margin-right:20px  ;
  margin-top: 5px;
}

.post-checkout-share .sharing {
  float: none;
  padding: 20px 0px;
  width: 100%;
  height: 30px;
  display:block;
  margin: 0px;
  clear: both;
}

.image-button img {
  margin: 15px 0px;
}

.attribute-icon {
  padding-top: 4px;
  padding-left: 6px;
}