@import "colours.css.less";

#page-header {     
  clear: both;
  padding-bottom: 14px;  
  margin-bottom: 30px;
  border-bottom: 1px solid @light-grey;
  height: 55px; 
  &.checkout {
    height: 70px;
  }
  .logo {
    display: inline;
    float: left;          
    padding-top: 13px; 
    width: 50%;
  }
  .page-menu {  
    height: 70px;
    width: 50%;
    float: right;
    .option {
      float: right; 
      background: url("img/menu_divider.png") no-repeat center right;
      a {
        padding: 26px 30px;
        display: block;
        font-size: 16px;
        font-weight: bold;  
      }
      a:link {
        color: @medium-red;
      }
      a:visited {
        color: @medium-red;
      }  
      a:hover {
        text-decoration: none !important;
        color: @dark-grey !important;
      }
    }
    .option.last {
      background: none;
    }
  }
  
  
  &.guest {
    padding-bottom: 14px;  
    margin-bottom: 30px;
    height: 110px;
    .logo {
      padding-top: 20px; 
      width: 30%;
    }  
    .page-menu {     
        width: 65%;
        height: 110px;
        .option {
          float: right; 
          a {
            padding: 25px 28px 20px ;
            font-size: 16px;
            font-weight: bold;

          } 
        }
        .option.last {
          background: none;
        }
        .signin {      
          padding-top: 15px;
          clear: both;
          height: 20px;
          text-align: right;
          display: block;
          width: 100%;
          float: right;   
          a {
            background: @dark-grey;
            padding: 2px 4px;
            color: @white !important;
            font-size: 12px;
            font-weight: bold;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
          }
        }
      } 
    }
  
}



div.drop {
  position:relative; 
  z-index: 10;
  width: 178px; 
  height: 120px; 
  border: none; 
  top: 0px; left: 761px;
  text-align: left;
  display: none;     
  padding-top: 70px;
  ul {
    background: none;
    padding: 0px 10px;
    background: #f3f3f3;
    border: 1px solid #cccccc;       
    border-top: 1px none;
  }
  li {
    list-style: none; 
    font-size: 14px;

  }
  a {
    font-weight: bold;
    padding: 5px 13px;    
    margin: 0px;
    border-bottom: 1px solid #cccccc;    
    display: block; 
    &:hover {
      text-decoration: none !important;
      color: @dark-grey !important;
    }
  } 
  li.last a {
    border-bottom: none;
    
  }


}
