@import "colours.css.less";

.summary { 
  margin-bottom: 20px;
  .logo {
    width: 50%;    
    float: left;  
    text-align: center;
    font-size: 12px;

  }
  .text {
    width: 50%;    
    float: left;
  }
}

.attribute {
  clear: both;
  height: 35px;
  .icon {
    width: 25px;
    float: left;
  }
  .text {
    float: left;
  }
}

.side-box {
  width: 260px;
  background: @light-grey;
  font-size: 17px;
  border: 2px solid #c4c2bb;
  margin: 0px 0px 20px 0px;
  padding: 12px 10px;
  float: right; 
  a {
    font-weight: bold;
  }
}

.page_content {
  width: 600px;
}

.how-it-works {
  .item {
    background: url('img/howitworks_background.png') no-repeat;
    &.last {
      background: url('img/howitworksbackgroundsquare.png') no-repeat;
    }
    padding: 25px 20px ;
    height: 230px;
    .image {
      float: right
    }
  }
  .number {
    float: left;
    background: blue;
    width:25px;
    color: @white;
    height: 45px; 
    padding: 12px 14px;
    font-size: 18px;
    font-weight: bold;
    background: url('img/number_bubble.png') no-repeat;
  }
  .text {
    float: left;
    width: 500px; 
    margin-top: 11px; 
    line-height: 1.2;
    font-size: 18px;    

    a {
      font-weight: bold;
    }
  }
}

.front-page {
  height: 400px;   
  margin-top: 0px;
  border-bottom: 1px solid @light-grey;


}

.lower-banner {
  clear: both;
  padding: 30px 10px;
  .text {    
    width: 740px;
    line-height: 1.1; 
    .big {
      color: @medium-red;
      font-size: 28px; 
      padding-bottom: 6px;      
      .span {
        font-weight: bold;      
      }

    }    
  }

  .sign-up-button {
    float: right;
  }
}


.stats-bar {
  float: right;
  width: 180px;
  .metric { 
    margin-bottom: 15px;
    border: 1px solid @medium-grey;
    .title {
      padding: 5px;
      font-weight: bold;
      background: @light-grey;
    }
    .amount {
      padding: 10px;
      text-align: center;
      font-weight: bold;
      font-size: 18px;
    }
    .description {
      padding: 3px;
      font-size: 11px;
      color: @medium-grey;
      text-align: center;
    } 

  }
}


#chart-container {
  width: 100%;
  padding-top: 15px
  
}


.banner {
  background:#f0f0f0;
  padding: 10px;
  .deal-photo {
    float: right;
  }
  .section {
    padding: 10px 0px;
    border-bottom: 1px solid #dadada;        
    &.no-border {
      border: none;
    }
    .buy-button {
      text-align: center;
    }
    .left-image-box {
    width: 20px
    }
  }
  .powered-by-hitmeup {   
    font-weight: bold;
    font-size: 13px;
    background: #919191 url('img/small_hitmeup.png') no-repeat  right 8px;
    padding: 12px 4px;
    color: #ffffff;
  }
}



.left-image-box {
  float:left;
  width: 50px; 
  height:50px; 
  display: inline;
}

.right-content-box {
  float:left;
  width: 320px;
  height:31px;
  display: inline;
  padding-left: 15px;
  padding-top: 19px;
}

.right-clock-box {
  float:left;
  width: 320px;
  height:38px;
  display: inline;
  padding-left: 15px;
  padding-top: 12px;
}

.publish-deal {
  .item {
    // background: url('img/howitworks_background.png') no-repeat;
    &.last {
      background: url('img/howitworksbackgroundsquare.png') no-repeat;
    }
    padding: 25px 20px ;
    height: 250px;
    .image {
      float: right
    }
  }
  .number {
    float: left;
    background: blue;
    width:25px;
    color: @white;
    height: 45px; 
    padding: 12px 14px;
    font-size: 18px;
    font-weight: bold;
    background: url('img/number_bubble.png') no-repeat;
  }
  .text {
    float: left;
    width: 550px; 
    margin-top: 11px; 
    p {
      font-size: 15px;    
    }

    a {
      font-weight: bold;
    }
  }
}



#map-deal {
  height: 300px;
  width: 450px;
}

.default-hidden {
  display: none;
}

.deal-partial-separator {
  border: 1px solid @light-grey;
}


th .sort {   
  padding-right: 20px;
  background: url(img/arrow_up.png) no-repeat   top right;

  &.desc {
    background-image: url(img/arrow_down.png);

  }
}


.blog-post {
  float: left;
  width: 650px; 
  margin-bottom: 50px;
  .post-date {
    color: @light-grey;
    font-size: 14px;
  } 
  h2 {
    line-height: 1;
    a {
      color: @dark-grey;
    }
  }
  .post-sharing {
    float: none;
    margin-top: 20px;
  }
}

.blog-sidebar {

  color: @medium-grey;
  font-size: 12px;
  p {
    font-size: 12px;
  }
  
}

.no-margin {
  margin: 0px !important;
}