@import "colours.css.less";   

body {
  background-color: #fff;
  color: @dark-grey;
  font-family: helvetica, "helvetica neue", arial, sans-serif;
  font-size: 13px;
}


h1 { 
  line-height: 40px;
  padding-bottom: 15px;   
  &.with-border {
    border-bottom: 1px solid @light-grey; 
    margin-bottom: 15px;
  }
  span {
    color: @dark-red; 
    font-weight: normal; 
    letter-spacing: -1px; 
  }
}

.home-big-text  {
  font-size: 23px;
  padding-bottom: 8px;
  padding-top: 4px;
  color: @dark-red;  
  font-weight: bold;
}

h2 {
  span {
    font-weight: normal;
  }  
  img {
  margin-right: 9px;
  }
}


h3 {
  span {
    font-weight: normal
  }
}      

p {
  img.icon {
    margin-top: -4px;
  }
}

p.expired {
  padding: 10px 0px 5px 0px;
}

.smaller-copy { 
  margin: 30px 0px;
  p {
    font-size: 11px;
  
  } 
}    


.intro {
  color: @medium-grey;
  font-size: 12px;
  border-bottom: 1px solid @light-grey;
  padding: 5px 0px 20px 0px;
  margin: 0px 0px 10px 0px;
}



h2.with-icon {
  padding-left: 28px;
  background-position: 0px 12px;
  background-repeat: no-repeat;
  &.about {
    background-image: url("img/about.png");
  }       
  &.map {
    background-image: url("img/map.png");
  }
  &.terms {
    background-image: url("img/terms.png");
  } 
  line-height: 2;
}

.blog-day {
    color: @light-grey;
    font-size: 48px;
    line-height: 2;
    border-bottom: 4px solid @dark-red;
    padding-top: 20px;
}

.help {
  font-size: 11px;
  color: @medium-grey;
  margin-bottom: 15px; 
  margin-right: 30px;
}

input, textarea, select {
  margin-bottom: 0px;
}