= paginate @users

%table.table
  %tr
    %th Full name
    %th Email
    %th Company Name
    %th Website
    %th Last Sign In    
  - @users.each do |user|
    - if user.company.present?
      %tr
        %td= user.company.your_name
        %td= user.email
        %td= link_to user.company.name, company_path(user.company)
        %td= user.company.website
        %td= friendly_time(user.current_sign_in_at)