= render 'shared/complete_profile'

%h1
  = @company.name 
  %span
    &gt; Public Profile

= twitter_bootstrap_form_for(@company) do |f|
  .row
    .span6
      %h2 Business Details
      = f.text_field :website, 'Your website'
      %span.help-block e.g. www.yourcompany.com
      = f.text_field :facebook, 'Your facebook page URL'
      %span.help-block e.g. http://facebook.com/yourcompany
      = f.text_field :twitter, 'Your twitter handle'
      %span.help-block e.g. @yourcompany
      = f.text_area :description, 'Company description', :rows => 9
      %span.help-block
        Try keep this description of your company short and sweet, otherwise it is likely no one will read it. (Limited to 100 words).
        Current number of words: 
        %span{:id => 'display_count'} 2  
    .span6
      %h2 Company logo:
      = f.file_field :logo, 'Upload a picture'
      = image_tag @company.logo.url(:medium) if @company.logo.present?
      %span.help-block
        This is the image that will appear in the company profile page and in the company profile section of your deals.  (Max file upload is 3MB).
      %h2 Business Address
      = f.text_field :address_line1, 'Address line 1 *'
      = f.text_field :address_line2, 'Address line 2'
      = f.text_field :city, 'City'
      = f.text_field :post_code, 'Post code *'
      = f.text_field :phone, 'Telephone number *' 
        
  = f.actions do
    = f.submit "Save Profile", :class => 'btn btn-large '
    %div.helper Saving large images may take up to a minute.
