!!!
%html
  %head
    =render 'shared/page_header'
  %body
    - if !@show_custom_seller_header
      #header{:class => !!current_user ? "logged-in" : "guest"  }
        .container
          = render 'shared/fb'
          - if current_user
            %div.logo
              = render_company_logo(@company, :small)
            %div.text
              = "Signed in as "
              %b
                = current_user
              = link_to("/ Admin Dashboard /", admin_dashboard_index_path) if current_user.admin?
              = link_to('(Sign out)', destroy_user_session_path, :method => :delete)     
    .container{:id => @show_custom_seller_header ? "custom-page-container" : "page-container"}
      - if !@show_custom_seller_header
        #page-header{:class => !!current_user ? "logged-in" : "guest"  }
          .logo= link_to image_tag(current_user ? 'hmu_logo_small.png' : 'hmu_logo.png'), (!!current_user ? dashboard_path : root_path)
          =render :partial => "shared/menu"
        .clearboth
      = render 'shared/alerts'
      = render 'shared/title'
      - if @is_blog
        .row
          .span8
            =yield
          .span2.offset2.blog-sidebar
            =render "shared/blog_sidebar"
      - else 
        = yield
      #footer
        .half.left
          = link_to_dynamic_page('Terms & Conditions', 1)
          = link_to_dynamic_page('Privacy Policy', 2)
          = link_to_dynamic_page('Contact Us', 3) 
          = link_to('Our Blog', blog_path) 
          = render :partial => "shared/site_seal"
            
        .half.right
          %div.copy
            =Time.now.year
            ="HitMeUp" 
    = render 'shared/uservoice'
    = render 'shared/google_analytics'