!!!
%html
  %head
    =render 'shared/page_header'
  %body
    .container.checkout
      #page-header.checkout
        .logo=  image_tag('hmu_logo_small.png')
        .sagepay-header=  image_tag('sagepay_small.png')
      .clearboth  
      = render 'shared/alerts'
      = yield
      #footer
        .half.left
          = link_to_dynamic_page('Terms & Conditions', 1)
          = link_to_dynamic_page('Privacy Policy', 2)
          = link_to_dynamic_page('Contact Us', 3) 
        .half.right
          %div.copy
            =Time.now.year
            ="HitMeUp" 
    = render 'shared/google_analytics'