!!!
%html
  %head
    =render 'shared/page_header'
  %body
    .container.single-column
      %br/
      = yield
      #footer
        .half.left
          = link_to_dynamic_page('HitMeUp Terms & Conditions', 1)
        .half.right          
          %copy
          =Time.now.year
          ="HitMeUp"
    = render 'shared/google_analytics'