!!!
%html
  %head
    =render 'shared/page_header'
  %body
    .container
      = yield
      #footer
        .half.left
          = link_to_dynamic_page('Terms & Conditions', 1)
          = link_to_dynamic_page('Privacy Policy', 2)
        .half.right          
          %copy
          =Time.now.year
          ="HitMeUp"
      = render 'shared/google_analytics'