%h1
  = current_user.company.name 
  %span &gt; Redeem a Voucher
  
- if @voucher
  This Voucher is to redeem the following deal: 
  %b=link_to(@voucher.deal.title, deal_path(@voucher.deal))
  - if @voucher.redeemed
    but 
    %b has already been used.
  - else
    and is valid. 
    %br  
    %br  
    %p= link_to("Click here to redeem it now.", redeem_now_voucher_path(@voucher), :class => 'btn large success')

  %br  
  %p Details of the deal are below.

  .row.with-border
    .span8  
      .two-columns
        %h2.big= @deal.title

        = render :partial => '/deals/buy'

    .span8
      .two-columns
        = render :partial => '/deals/deal_photo'
        .span8  

  .row
    .span8
      .two-columns
        .dotted-border
          = render :partial => '/deals/about'
          %br
          = render :partial => '/deals/static_location'

    .span8
      .two-columns

        .span8
          .two-columns
            = render :partial => '/shared/company_profile', :locals => {:company => @company}

  
- else
  No matching voucher found!