%h1
  = current_user.company.name 
  - if @success
    %span &gt; Voucher Redeemed
  - else 
    %span &gt; Voucher Not Valid

- if @success
  %b The voucher has now been used.
- else
  %b We failed to expire this voucher, it's probably already been used. 
  If you don't think this is the case please contact us quoting code #{@voucher.id}
%br  
%br
=link_to("Click to view all vouchers for this deal.", vouchers_deal_path(@voucher.deal))
%br
%br
=link_to("Click to return to your dashboard.", dashboard_path)